html, body {
    height: 100%;
    background-color: #332619;

}
.navbar {
    background-color: #BF090C;
}

.callout {
    color:#BF090C;
}


#cover {
    background: url('../images/hornShark.jpg') no-repeat center center;
    background-size: cover;
}

.navbar-dark .navbar-brand {
  color: #7bb8a5;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #7bb8a5;
}

.navbar-dark .navbar-nav .nav-link {
  color: #444;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active, .navbar-dark .navbar-nav .nav-link:focus {
  color: #0f6674 !important;
}
.active {
    background-color: #9ed3c2;
    color: #444!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: #777;
}

.bg-dark {
    background-color: #7bb8a5!important;
}
.navbar-toggler {
    background-color: #fff;
    border-color: #000;
}
.text-info {
    color: black!important;
    width: 50px;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #0f6674 !important;
  background-color: #9ed3c2;
}
.nav-link.active {

}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,128,128, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #ccc;
}
button[aria-expanded="true"] .nav-item .nav-link{
    color: white !important;
}
 /* Header  */

.sharkHeader {
    margin-top: 1px;
    background-color: #7bb8a5;
    font-family: "Freckle Face", serif;
    font-size: 4.0rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Freckle Face", serif;
    color: white;
}
.sharkHeader .container .row header h1 #headOne {
    font-family: "Freckle Face", serif;
    color: white;
}
